API_PORT=3002
# API URL that appear in public such as https://api.example.com
API_URL=http://localhost:3002

WEB_PORT=3003
WEB_HOST=localhost
# Web URL that appear in public such as https://qr.example.com
WEB_URL=http://localhost:3003

DB_USER=your_mongo_user
DB_PASS=your_mongo_pass
DB_HOST=mongodb
DB_PORT=27071
DB_NAME=dynamicqr

ORIGIN_KEY=your_origin_key
ORIGIN_EXP=86400
ACCESS_KEY=your_access_key
ACCESS_EXP=900
REFRESH_KEY=your_refresh_key
REFRESH_EXP=86400